/* Garante que o body ocupa toda a altura da janela */
html,
body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Inter', sans-serif;
}


/* Main expande para empurrar o footer para baixo */
#css_main {
    display: flex;
    /*empurra o footer para baixo*/
    padding: 20px;
    min-height: 100vh;
    /*Cria um tamanho fixo pro body*/
}

#footer {
    background-color: #928E8E;
    color: #fff;
    display: flex;
    justify-content: space-between 200px;
    /* Centraliza horizontalmente */
    gap: 40px;
    /* Espaço entre os itens */
    margin-top: 61px;
    /* tamanho recomendado */
    font-size: 14px;
    /* Centraliza os itens no eixo y*/
    align-items: center;
    /* Deixa o espaço entre os itens igual no eixo x*/
    justify-content: space-between;
    /* O espaço em volta dos elementos é o mesmo, algo como uma borda invisível*/
    justify-content: space-around;
}

#main_nav {
    padding: 15px;
    /*Cria um espaço interno entre os itens de 15pixels*/
    display: flex;
    /*Coloca os itens lado a lado*/
    justify-content: space-around;
    /*Cria um espaço de distribuição igual entre os itens do nav-bar*/
    
    
}

#main_nav a {
    color: black;
    text-decoration: none;
    margin-left: 90px;
    

}

#formulario {
    border: 4px solid #c1c1c1;
    padding: 20px;
    border-radius: 10px;
    background-color: #f2f2f2;
    /* Define um tamanho máximo para o container do meu formulário.*/
    max-width: 650px;
    /* Ocupa todo espaço da width, que nesse caso são 646px, nada mais que isso*/
    width: 100%;
    max-height: 626;
    height: 622px;
}

.metade-formulario{
    flex: 1;
}

.metade-imagem{
    flex: 1;
    margin: 80px 100px 130px 137px; /*Nesse caso as configurações de borda se aplicam ao conteiner*/
                                     /*Tamanho de imagem é melhor definido diretamente na tag "img"*/
}

.metade-imagem img{
    max-width: 100%;
    height: auto;
}

#header{
    display: flex;
    align-items: center;
    justify-content: flex;
    padding: 0 70px; /* espaço lateral opcional */
    height: 125px; 
    width: 100%; 
    background-color: #377ba5; 
}

.nome-campo-cadastro{ /* Esse aqui é para quando queremos alinhar dois títulos de campos */
    display: flex;    /* Aqui, criamos uma div que engobla os códigos de todas */
    gap: 20px;        /* os campos que ficarão lado a cado, incluindo os inputs */
    margin-bottom: 15px;
}

.campo-cadastro{ /* Aqui personalizamos os campos */
    display: flex;
    flex-direction: column;
    flex: 1;
}

.campo-cadastro label{
    margin-bottom: 5px;
    font-weight: bold;
}

.campo-cadastro input{
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
    width: 100%;
}

.campo-cadastro input::placeholder {
    color: rgba(0, 0, 0, 0.5);
}