/* Garante que o body ocupa toda a altura da janela */
html, body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Inter', sans-serif;
}


/* Main expande para empurrar o footer para baixo */
#css_main {
    flex: 1;    /*empurra o footer para baixo*/
    padding: 20px; 
    min-height: 100vh; /*Cria um tamanho fixo pro body*/
    background-color: #f8f5f5;
}

#footer {
    background-color: #928E8E;
    color: #fff;
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    gap: 40px; /* Espaço entre os itens */
    padding: 20px;
    font-size: 14px; /* tamanho recomendado */
}

#main_nav{
    padding: 15px; /*Cria um espaço interno entre os itens de 15pixels*/
    display: flex; /*Coloca os itens lado a lado*/
    justify-content: space-around; /*Cria um espaço de distribuição igual entre os itens do nav-bar*/
    align-items: center;
}

#main_nav a{
    color: black;
    text-decoration: none;

}