html, body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Inter', sans-serif;
}
main{
    flex: 1;
    display: flex;
    height: 90vh;
}
.esquerda{
    background-color: #3176a0;
    color: white;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 40px;
}
.esquerda img{
    max-width:350px;
    margin-bottom: 10px;
    border-radius: 100%;
}
.esquerda p{
    font-size: 25px;
    margin-top: -15px;
}
.esquerda h1{
    font-size: 40px;  
    margin-top: -40px;
}
.direita{
    flex: 1;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.direita h2{
    font-size: 24px;
    color: #397ba9;
    margin-bottom: 30px;
}
.login{
    background-color: white;
    border: 2px solid #ccc;
    padding: 30px;
    border-radius: 10px;
    width: 100%;
    max-width: 270px;
    text-align: center;
}
.login h3{
    font-size: 22px;
    color: #397ba9;
    margin-bottom: 20px;
}
.login input{
    width: 80%;
    padding: 10px;
    margin-bottom: 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
}
.login button{
    background-color: #397ba9;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    margin-bottom: 10px;
}
.login a {
    display: block;
    font-size: 13px;
    color: #397ba9;
    text-decoration: underline;
}
.checkbox{
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  font-size: 14px;
  margin-left: -140px;
}
.checkbox input{
    margin-right: 220px;
}
.checkbox label{
    justify-content: space-between;
    text-align: justify;
    margin-left: -370px;
    margin-top: -8px;
}
.cadastro {
  margin-top: 20px;
  padding: 15px 25px;
  border: 2px solid #ccc;
  border-radius: 10px;
  text-align: center; 
}
.conta{
    display: flex;
    margin-left: 10px;
    text-align: center;
    margin-top: 10px;
}
.botao {
  margin-left: 10px;
  background-color: #397ba9;
  color: white;
  padding: 10px;
  width: 80px;
  text-align: center;
  border-radius: 60px;
  text-decoration: none;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}
.conta a {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
#footerr{
    background-color: #928E8E;
    width: 100%;
    justify-content: space-around;   
    color: #fff;
    display: flex;
    font-size: 15px; /* tamanho recomendado */
    flex-wrap: wrap;
}
.simbolo-acessibilidade{
position: absolute;
top: 110px;
right: 30px;
z-index: 10;
}
.simbolo-acessibilidade img{
  width: 60px;
  height: 60px;;
}

