html, body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Inter', sans-serif;
}
main{
    flex: 1;
    display: flex;
    margin-top: 100px;
    justify-content: center;
}
#cabecalho{
    display: flex;
    background-color: #3176a0;
    box-sizing: border-box;
    height: 10vh;
    width: 100%;
    padding: 50px;
    justify-content: space-between;
    align-items: center;
}
.logo-navbar{
    margin: 0px;
}
.logo-navbar img{
    width: 90px; 
    height: 90px;
    display: block;
}
#main-nav{
    display: flex;
    align-items: center;
    flex: 1 ;
}
#main-nav a{
    color: white;
    text-decoration: none;
    font-weight: 700;
    padding: 10px 30px;
}
.nav-links-centrais{
    display: flex;
    gap: 30px;
    margin-left: 20vw;
}
.nav-login-idioma{
    display: flex;
    margin-left: auto;
    gap: 15px;
}
.logo-navbar{
    margin: .2% 1.5%;
}
#main-nav a:hover{
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 8%;
}
.esquerda{
    margin-top: 20px;
    margin-right: 20px;
}
.esquerda img{
    width: 250px;
}

.direita{
    flex-direction: column;
    padding: 20px;
    text-align: center;
    border: 2px solid #CCC;
    background-color: rgb(217, 228, 224);
    border-radius: 10px;
    width: 300px;
    height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;    
}
.direita select{
    font-family: Arial, Helvetica, sans-serif;
    padding: 8px;
    width: 100%;
    border-radius: 8px;
    border: 2px solid #aaa;
    margin-bottom: 20px;
}
.direita h3{
    align-self: center;
    font-size: 18px;
    margin-bottom: 5px;

}
.direita h2{
    font-size:14px ;
    margin-bottom: 5px;
}
.direita label{
    font-size: 15px ;
    margin-bottom: 5px;
}
/*fazer o footer estatico e responsivo*/


#footerr{
    background-color: #928E8E;
    width: 100%;
    justify-content: space-around;   
    color: #fff;
    display: flex;
    font-size: 15px; /* tamanho recomendado */
    flex-wrap: wrap;
}