html, body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Inter', sans-serif;
}

#main_nav {
    padding: 15px;
    /*Cria um espaço interno entre os itens de 15pixels*/
    display: flex;
    /*Coloca os itens lado a lado*/
    justify-content: space-around;
    /*Cria um espaço de distribuição igual entre os itens do nav-bar*/
    
    
}
#header{
    display: flex;
    align-items: center;
    justify-content: flex;  
    height: 125px; 
    width: 100%; 
    background-color: #377ba5; 
}
#main_nav a {
    color: black;
    text-decoration: none;
    margin-left: 90px;
    

}


.container{
display: flex;
margin-top: 100px;

justify-content: center;
}

.esquerda{
    
    margin-top: 20px;
    margin-right: 20px;
}
.esquerda img{
    width: 250px;
}
.direita{

    flex-direction: column;
    text-align: center;
    border: 2px solid rgb(63, 59, 59);
    border-radius: 10px;
    width: 300px;
}
.direita select{
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
    width: 120px;
    border-radius: 10px;
    border: 2px solid ;
}
.direita h3{
    text-align: center;

}
.direita h2{
    font-size:12px ;
    margin-top: 30px;
    margin-right: 140px;
}
.direita label{
    font-size: 15px ;
}
#footer {
    background-color: #928E8E;
    color: #fff;
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    margin-top: 70px;
    gap: 40px; /* Espaço entre os itens */
    font-size: 14px; /* tamanho recomendado */
}