.imagem-atencao{
  display: flex;
  justify-content: center;
  align-items: ce;
  margin-bottom: 30px;
  
}

.imagem-atencao img {

  height: auto;

}


.pagina-construcao {

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 1px;
  margin-top: 5vw;
  margin-left: 100vh  ;

 
}

.pagina-construcao h1 {
  font-size: 2.5rem;
  color: #3176a0;
  margin-bottom: 20px;
  text-align: center  ;
  margin-left: 1.5vh;

}

.pagina-construcao p {
  font-size: 1.2rem;
  color: #555;
  max-width: 700vh;
  margin-left: 2vh;
}

.pagina-construcao img {
  width: 350px;
  margin-bottom: 30px;
  border-radius: 100%;
  display: flex;
  justify-content: center;

}
