html,
body{
  padding: 0;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: 'Inter', sans-serif;
  box-sizing: border-box;
}
.pagina-construcao {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 1px;
  margin-top: 5vw;
  margin-left: 100vh  ;
}
.pagina-construcao h1 {
  font-size: 2.5rem;
  color: #3176a0;
  margin-bottom: 20px;
  text-align: center  ;
  margin-left: 1.5vh;
}
.pagina-construcao p {
  font-size: 1.2rem;
  color: #555;
  max-width: 700vh;
  margin-left: 2vh;
}
.pagina-construcao img {
  width: 350px;
  display: flex;
  justify-content: center;
  margin-left: 28px;
  display: block;
}
.simbolo-acessibilidade{
position: absolute;
top: 110px;
right: 30px;
z-index: 10;
}
.simbolo-acessibilidade img{
  width: 60px;
  height: 60px;;
}

